.confirmDeleteCard {
  position: fixed;
  height: 210px;
  width: 415px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: white
}

.confirmDeleteCard-head {
  display: flex;
  padding: 5px 18px;
  justify-content: space-between;
  align-items: center;
  background-color: #5861ae;
  color: white;
}

.confirmDeleteCard-button {
  padding: 0.25rem 1rem;
  background-color: #5861ae;
  border: none;
  color: white;
  border-radius: 3px;
}

.confirmDeleteCard-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmDeleteCard-notice {
  display: flex;
  padding: 1rem;
  align-items: center;
}

.confirmDeleteCard-text {
  text-align: center;
  margin: 0 1rem;
  padding-bottom: 0.75rem;
}