#topNavBar {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  font-family: Avenir;
  letter-spacing: 1.6px;
}

#logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  font-size: 24px;
  font-weight: bolder;
  color: #5861AE;
}

#right-container {
  display: flex;
  align-items: center;
}

.navButton {
  height: 100%;
  width: 7rem;
  border: 1px solid rgba(112, 112, 112, 0.2);
  border-right: none;
  background-color: white;
}

.navButton:hover {
  background-color: #5861ae;
  color: white;
}

.userImgContainer {
  display: flex;
  align-items: center;
  border: 1px solid rgba(112, 112, 112, 0.2);
  height: 100%;
  padding: 0 2rem;
  background-color: #5861AE;
  color: white;
}

#userImgWrapper {
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}