.confirmCard {
  width: 466px;
  height: 504px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 11;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #5861ae;
  text-align: center;
}

.confirmCard-circle {
  height: 7rem;
  width: 7rem;
  border-radius: 3.5rem;
  background-color: rgba(88, 97, 174, 0.3);
  margin-bottom: 1rem;
}

.confirmCard-button {
  height: 40px;
  width: 200px;
  border-radius: 20px;
  background-color: #5861ae;
  color: white;
  border: none;
  font-weight: bold;
}