.pastOrderItemsRow {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.pastOrderTableHead {
  display: flex;
  background-color: #1E2022;
  color: white;
  padding: 1rem 1rem;
  margin: 1rem 0;
  justify-content: space-between;
}