.head{
    display: flex;
    justify-content: space-between;
}
.search{
    display: flex;
    margin-right: 2rem;
}

#orderCreator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    float: right;
    /* padding: 0 2rem; */
    background-color: rgba(245, 245, 245, 1);
  }
#item {
    margin: 0px 10px;
    width: 131px;
}
.TwoDiv{
    background-color: rgba(245, 245, 245, 1);
}

.textDiv {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    width: 100%;
    margin-bottom: -17px;
}