tr{
    text-align: center;
}
.head{
    display: flex;
    justify-content: space-between;
}
.search{
    display: flex;
    margin-right: 2rem;
}
button{
    margin: 1rem;
    width: 5rem;
    height: 2rem;
}
table{
    border: 1px solid rgba(245, 245, 245, 1);
    /* background-color: black;
    color: white; */
}
input{
    width: 3rem;
    /* background: url('../Images/search.jpg')  0% 0% no-repeat padding-box; */
    /* margin: 10px; */

}
#orderCreator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    float: right;
    /* padding: 0 2rem; */
    background-color: rgba(245, 245, 245, 1);
  }
#item {
    margin: 0px 10px;
    width: 131px;
}
td{
    /* margin-left: 5px; */
    /* text-align: center; */
    margin-left: 1rem;
    padding-left: 10px;
    width: 140px;
}
.TwoDiv{
    background-color: rgba(245, 245, 245, 1);
}

.textDiv {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    width: 100%;
    margin-bottom: -17px;
}
tr:nth-child(even){
    background-color: blue;
}
.NewFooter{
    text-align: center;
    width: 100%;
    background: #182838 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
}