section{
    display: flex;
}
aside{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width:50vw;
    background-color: rgb(175, 175, 235);
}
article{
    width:50vw;
    background-color: rgb(181, 237, 141);
}
article,aside{
    height:80vh;
}
.combined-1{
    margin-top:-60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
}
.combined-2{
    margin-top:40px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    margin:0 auto;
}
.register{
    margin:0;
    margin-top:20px;
    
}