#orderCreatorComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  background-color: rgba(245, 245, 245, 1);
}

#tableContainer {
  width: 100%;
}

.textDiv {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  width: 100%;
  margin: 1rem;
  align-items: center;
}

.searchContainer {
  width: 15%;
  display: flex;
  height: 2rem;
}

#searchInput {
  width: 10rem;
  border: none;
  text-align: center;
  border-bottom: 1px solid #5861AE;
}

#searchInput:focus-visible {
  border: 1px solid #5861ae;
  outline: none;
}

.lensImg {
  position: relative;
  left: 20px;
  width: 1rem;
}

#tableHead {
  display: flex;
  background-color: #1E2022;
  color: white;
  padding: 1rem 1rem;
  margin: 1rem 0;
}

.itemsRow {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(112, 112, 112, 0.2);
  border-top: none;
}

.itemImage {
  width: 70px;
}

.washtype {
  display: flex;
  justify-content: space-around;
  width: 37%;
}

.washtypeImage {
  height: 50%;
}

.pricePerItemTimes {
  font-size: 1.5rem;
}

.itemPrice {
  font-size: 1.8rem;
  color: #5861ae;
}

.price {
  display: flex;
  align-items: center;
}

.imageDiv {
  display: flex;
  width: 21%;
}

#item1, .imageDiv {
  width: 21%;
}

#item2 {
  width: 21%;
}

.inputDiv {
  width: 15%;
}

.quantityInput {
  height: 2rem;
  width: 4rem;
  text-align: center;
}

.quantityInput:focus-visible {
  outline: none;
}

.quantityInput:focus {
  outline: none;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#item3 {
  width: 37%;
}

.washtype {
  width: 42%;
}

#item4, .price {
  width: 21%;
}

.buttonContainer {
  display: flex;
  justify-content: end;
  padding: 1rem 0;
  width: 100%;
}

.button {
  margin-left: 1rem;

  padding: 0.25rem 1rem;
  box-sizing: border-box;
  border: 2px solid #5861AE;
  border-radius: 4px;
  color: #5861AE;
  background-color: white;
  width: 6rem;
}

.button:hover {
  color: white;
  background-color: #5861ae
}

.button:focus {
  color: white;
  background-color: #5861ae
}