.disclaimer-div{
  
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: transparent url('../Images/Footer.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    border: 1px solid black;
    box-sizing: border-box;
    padding:4rem 6rem;

    background-position: center bottom;

}
.inside-disclaimer-div{
    display: flex;
    flex-direction: column;
}
.inside-disclaimer-div > h4{
    font: normal normal medium 18px/24px Avenir;
    letter-spacing: 0.18px;
    color: #182838;
    text-transform: uppercase;
    opacity: 1;
    font-size: small;
    font-weight: bold;
}
.inside-disclaimer-div > h6{
    font: normal normal normal 14px/24px Avenir;
    letter-spacing: 0.14px;
    color: #182838;
    text-transform: capitalize;
    opacity: 1;
}
.logo-div:hover{
    cursor: pointer;
}