/* top: -1.5px;
left: 0px;
width: 57px;
height: 933px;
/* UI Properties */
/* background: #5861AE 0% 0% no-repeat padding-box;
opacity: 1;  */
.d{
    background: #5861AE 0% 0% no-repeat padding-box;
    top: -1.5px;
    opacity: 1;
    left: 0px;
    width: 57px;
    height: 90vh;
}
.img1{
    margin: 0px 10px 10px 10px;
    padding-top: 15px;
    top: 119px;
left: 20px;
width: 22px;
height: 22px;
/* background: transparent url('../Images/home-run.svg') 0% 0% no-repeat padding-box; */
opacity: 1;
}
.img2{
    /* margin: 19px; */
    padding-top: 33px;
    padding-bottom: 36px;
    margin: 10px;
    top: 183px;
left: 20px;
width: 22px;
height: 22px;
/* UI Properties */
/* background: transparent url('../Images/more.svg') 0% 0% no-repeat padding-box; */
opacity: 1;
}
.img3{
    margin: 20px 10px 10px 0px;
    padding-top: 10px;
    top: 231px;
left: 0px;
width: 57px;
height: 47px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
img{
    /* text-align: center; */
    margin-top: 10px;
    margin-left: 10px;
}
