li a{
    color:black !important;
}
li a:hover {
    background-color:#5861AE !important;
}
li {
    list-style: none;
}
.brand-logo{
    font: Avenir;
    letter-spacing: 1.8px;
    color: #5861AE !important;
    text-transform: uppercase;
    opacity: 1 !important;
    width: 108px !important;
    height: 27px !important;
}
