tr{
    text-align: center;
}
.head{
    display: flex;
    justify-content: space-between;
}
.search{
    display: flex;
    margin-right: 2rem;
}
button{
    margin: 1rem;
    width: 5rem;
    height: 2rem;
}
table{
    border: 1px solid black;
    /* background-color: black;
    color: white; */
}
input{
    width: 3rem;
    /* background: url('../Images/search.jpg')  0% 0% no-repeat padding-box; */
    /* margin: 10px; */

}
/* thead{
    background-color: black;
    color: white;
} */