.referral-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #F8F9FF 0% 0% no-repeat padding-box;
    box-shadow: 0px -3px 6px #0000000B;
    opacity: 1;
    /* margin-bottom:1rem; */
}
.referral-msg-1{
    text-align: left;
    font: normal normal 600 24px/26px Open Sans;
    letter-spacing: 0.96px;
    color: #5861AE;
    opacity: 1;
    margin-top:1rem;
    /* margin-bottom:0.2rem; */
}
.referral-msg-2{
    text-align: left;
    font: italic normal normal 10px/26px Open Sans;
    letter-spacing: 0.4px;
    color: #3D3D43;
    opacity: 1;
    /* margin-bottom:0.5rem; */
}


